body {
  background-color: #74b9f0;
  color: white;
  text-shadow: 2px 2px #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.timer {
  padding: 20px;
  border: 3px solid white;
  border-radius: 25px;
}

.timer h3{
  font-size: 25px;
  margin: 0;
}

.timer h4{
  font-size: 80px;
  margin: 10px;
  text-shadow: none;
  padding-bottom: 10px;
}

.App button {
  width: 90px;
  padding: 5px 15px;
  margin: 0 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}